<ion-view hide-nav-bar="true">
  <ion-content class="padding" >
  <div class="row potions">
      <!-- <div ng-if="potions.length == 0" class="list card empty col" ng-repeat="carte in [0,1,2]">
        <div class="item">C'est vide</div>
      </div>
    <div ng-if="potions.length > 0"> -->
    <div ng-repeat='carte in [0,1,2]' class="col">
      
      <div ng-if='potions[carte].name' ng-init="card = potions[carte]" class ="list card full">
        <div class="item">
        
          <h2>{{card.name}}<p>{{card.rarity}}</p></h2>
          
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{card.img}}">
          <p>
            Effet : {{card.effect}}

           {{card.desc}}
          </p>
          <p ng-repeat="ingredient in card.ingredients">
            {{ingredient.name}} ({{ingredient.zone}})
          </p>
        </div>
      </div>
      <div ng-if='!potions[carte].name' class="list card empty">
        <div class="item">C'est vide</div>
      </div>
    </div>
  </div>

  <div class="pioche">
    <button ng-click="showModal()">PIOCHER</button>
  </div>

  <div class="row">
    <div ng-repeat='carte in [0,1,2,3,4,5]' class="col">
      <div ng-if='!deck[carte].name'  class="list card empty">
        <div class="item col">C'est vide</div>
      </div>
      <div ng-if='deck[carte].name' ng-init="card=deck[carte]" class ="list card full">
        <div class="item" ng-style="mystyle" ng-click="touched()">
        
          <h2>{{card.name}}</h2>
          
          <p class="rarity">{{card.rarity}}</p>

          <div ng-if="card.type == 'ingredient'" class="iconroundi"></div>
        <div ng-if="card.type == 'trap'" class="iconroundt"></div>
        <div ng-if="card.type == 'selftrap'" class="iconrounds"></div>
        </div>
        
        <div class="item item-body">

          <img class="full-image" src="{{card.img}}">
          <p>
           {{card.descrip}}
          </p>
         
        </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
