<ion-view hide-nav-bar="true">
  <ion-content class="padding" style="background-image:url({{background}});background-size:{{backsize}}; background-position: {{backpos}}" >
  <div class="row potions">
    <div ng-repeat='carte in [0,1,2,3]' class="col"> 
      <div ng-if='potions[carte].name' ng-init="card = potions[carte]" ng-class="{'fabricated':card.created, 'custompotion': custompotion }" class ="list card full" ng-click="custompotion=!custompotion">
        <div class="item">  
          <h2>{{card.name}}</h2><p class="rarity">{{card.rarity}}</p>
          
        </div>

        <div class="item item-body">

          
        
          
          <img class="full-image" 
           src="../img/{{card.img}}">
		    <b>Ingrédients :</b>
          <p ng-repeat="ingredient in card.ingredients">
             {{ingredient.name}} ({{ingredient.zone}})
          </p>
          <p>
            <b>Effet</b> : {{card.effect}}
          </p>
           

        </div>
        <button class="button button-block button-royal" ng-show="custompotion && !card.created" ng-click="creerPotion(card)">Fabriquer</button>
        <button class="button button-block button-royal" ng-show="custompotion && card.created" ng-click="userPotion(card)">Utiliser</button>
      </div>
      <div ng-if='!potions[carte].name' class="list card empty">
        <div class="item"></div>
      </div>
    </div>
  </div>
  <div class="effets">
    <select ng-model="searchtrap" ng-options="effet.name for effet in globaltrap" >
      <option></option>
      
    </select>
    <button class="button button-balanced" ng-click="ajouterpiege(searchtrap)">+</button>
    <div ng-repeat="effetp in effetpos">{{effetp.effect}}<button class="button button-assertive" ng-click="deleteEffectPos()">x</button></div>
    <div ng-repeat="effetn in effetneg">{{effetn.effect}}<button class="button button-assertive" ng-click="deleteEffectNeg()">x</button></div>
  </div>
  </div>
  <div class="pioche">
    <button class="button button-royal"ng-click="showModal()">PIOCHER</button>
  </div>

  <div class="row">
    <div ng-repeat='card in deck track by $index' class="col">
      <div ng-if='!card.name'  class="list card empty">
        <div class="item col"></div>
      </div>
      <div ng-if='card.name' id="cartelem{{$index}}"   ng-class="{'touched':custom}" class ="list card full" ng-click="custom=!custom">

        <div class="item">
          <h2>{{card.name}}</h2>
          <p class="rarity">{{card.rarity}}</p>
          
        </div>
        
        <div class="item item-body">
           <img class="full-image ingred" src="../img/{{card.img}}">
          <p ng-if="card.type=='ingredient'">
           {{card.descrip}}
          </p>
          <p ng-if="card.type=='trap'">
            <b>Piège : adversaire</b><br>
           {{card.effect}}
          </p>
          <p ng-if="card.type=='selftrap'">
            <b>Piège : porteur</b><br>
           {{card.effect}}
          </p>
         
        </div>
        
        <div class="button-bar testbar">
        <button class="button button-block button-energized" ng-if="custom && card.type != 'ingredient'" ng-click="useTrap(card)">Utiliser</button>
        <button class="button button-block button-dark" ng-show="custom" ng-click="defausser(card)">Défausser</button>
        </div>
      </div>

    </div>
  </div>
  </ion-content>
</ion-view>
