<ion-modal-view >
    
    <ion-content>
    <div class="zones">
    <div ng-click="piocher('foret')" class="zone foret"><p>Forêt</p></div>
    <div ng-click="piocher('plaine')" class="zone plaine"><p>Plaine</p></div>
    <div ng-click="piocher('lac')" class="zone lac"><p>Lac</p></div>
    <div ng-click="piocher('desert')" class="zone desert"><p>Désert</p></div>
    <div ng-click="piocher('grotte')" class="zone grotte"><p>Grotte</p></div>
    <div ng-click="piocher('montagne')" class="zone montagne"><p>Montagne</p></div>
</div>

         
    </ion-content>
 </ion-modal-view>