<ion-modal-view style="width: 20%; height: 70%; margin-left:30%; margin-top:10%; background: transparent">
    
    <ion-content>
    <div class="draw potions">
        <div class="list card full potion" ng-show="rotate">
            <div class="item test" ng-show="rotate" ng-click="piochepaquet(); rotate=!rotate" class="paquetpotions">
            
            </div>
        </div>
    
    
    <flippy
              class="fancy"
              flip="['click']"
              flip-back="['custom:FLIP_EVENT_IN']"
              duration="800"
              timing-function="ease-in-out"
              ng-show="random > -1 && !rotate"
              >

        <flippy-back>
          <div class="list card full potion">
            <div class="item" style="background-image: url('../img/CardBG.png')"></div>
         
        
            <div class="item item-body"></div>
            
          

        </div>
      
      <button class="button button-block button-royal" ng-click="randomize(); rotate=!rotate"> Récupérer </button>
        </flippy-back>

        <flippy-front>
            <div class ="list card full potion" ng-model="globalpotions[random]" style="background-image: url('../img/CardBG.png')" ng-init="globalpotions[random]">
                <div class="item">
                  <h2>{{globalpotions[random].name}}</h2><p class="rarity">{{globalpotions[random].rarity}}</p>
                </div>
                <div class="item item-body">
                <img class="full-image" src="{{globalpotions[random].img}}">
                  <p>
                    <b>Effet : </b>{{globalpotions[random].effect}}

                   {{globalpotions[random].desc}}
                  </p>
                  <p ng-repeat="ingredient in card.ingredients">
                    {{ingredient.name}} ({{ingredient.zone}})
                  </p>

                </div>
            </div>

        </flippy-front>

      </flippy>

    
</div>

         
    </ion-content>
 </ion-modal-view>