<ion-modal-view class="scrollproblem" style="width: 100%; height: 100%; top:0; left:0; background: transparent">
    
    <ion-content>
    <div class="draw potions">
        <div class="list card full potion testpotion" ng-show="rotate">
            <div class="item item-body test paquetpotions"  ng-click="piochepaquet(); rotate=!rotate">
            </div>
        </div>
    
    
    <flippy
              class="fancy "
              flip="['click']"
              flip-back="['custom:FLIP_EVENT_IN']"
              duration="800"
              timing-function="ease-in-out"
              ng-show="random > -1"
              >

        <flippy-front>
          <div class="list card full potion cardflip">
            <img src="../img/CardBG-1.png" ></img>
         <!--   <div class="item">
         
        </div>
        <div class="item item-body">
          

        </div>-->
            </div>
      
        </flippy-front>

        <flippy-back>
            <div class ="list card full potion cardflip" ng-model="globalpotions[random]" ng-init="globalpotions[random]">
                <div class="item">
                  <h2>{{globalpotions[random].name}}</h2><p class="rarity">{{globalpotions[random].rarity}}</p>
                </div>
                <div class="item item-body">
                <img class="full-image" src="{{globalpotions[random].img}}">
                  <p>
                    <b>Effet : </b>{{globalpotions[random].effect}}

                   {{globalpotions[random].desc}}
                  </p>
                  <p ng-repeat="ingredient in card.ingredients">
                    {{ingredient.name}} ({{ingredient.zone}})
                  </p>

                </div>
            </div>
            <button class="button button-block button-royal" ng-click="randomize(); rotate=!rotate"> Récupérer </button>
        </flippy-back>

      </flippy>

    
</div>

         
    </ion-content>
 </ion-modal-view>