<ion-modal-view >
    
    <ion-content>
    <div class="zones">
    <div ng-click="piocher('foret')" class="zone foret"></div>
    <div ng-click="piocher('plaine')" class="zone plaine"></div>
    <div ng-click="piocher('lac')" class="zone lac"></div>
    <div ng-click="piocher('desert')" class="zone desert"></div>
    <div ng-click="piocher('grotte')" class="zone grotte"></div>
    <div ng-click="piocher('montagne')" class="zone montagne"></div>
</div>

         
    </ion-content>
 </ion-modal-view>