/* Empty. Add your own CSS if you like */
.list.card{
	height: 300px;
	
    border: 3px dotted grey;
    

	
}
.list.card.full{
	background-color: #9bc9c7;
    border: 1px solid white;
    box-shadow: 0 0 0 2px #9bc9c7;
    -webkit-transition: margin-top 0.2s; /* Safari */
    transition: margin-top 0.2s;
    width: 100%;
    height: 300px;
    transition-timing-function: linear;
}

.row.potions{
	width: 55%;
	margin:auto;
}
.zone {
  position: relative;
  display: inline-block;
  width: 150px; 
  height: 86.60px;
  background-color: #64C7CC;
  margin:0;

}

.zone p{
	text-align: center;
}
.zone:before,
.zone:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.zone:before {
  bottom: 100%;
  border-bottom: 43.30px solid #64C7CC;
}

.zone:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #64C7CC;
  left:0;
}

.zone.foret{
	left:40%;
	top:10%;
}

.zone.plaine{
	left:46%;
	top:31%;
}
.zone.lac{
	left:32.4%;
	top:55%;
}
.zone.desert{
	left:-1%;
	top:75%;
}
.zone.grotte{
	left:-34%;
	top:30%;
}
.zone.montagne{
	left: -47.6%;
	top: 55%;
}
ion-content.scroll-content.ionic-scroll.has-header{
	height: 100%;
}
.scroll{
	height: 100%;
}
ion-modal-view.modal.slide-in-up.ng-enter.active.ng-enter-active{
	height: 100%;
}

.modal{
	top: 0; 
right: 20%;
/* bottom: 20%; */
left: 10%;
/* min-height: 240px; */
width: 80%;
background-image: url("../img/wood.jpg");
} 
.zones{
	height: 100%;
	margin-left: 4%;
}

.list.card.full:hover{

	width: 120%;
	height:50%;
	z-index: 100;
	margin-top: -50px;
}
.iconroundi, .iconrounds, .iconroundit{
	width: 30px;
	height: 30px;
	border: 2px solid;
    border-radius: 20px;
    position: relative;
	float: left;
	z-index: 10;
	top: 18px;
	left: 25%;
}
.list.card.full .item{
	position: static;
	overflow:visible;
	min-height: 50px;

}
.list.card.full .item .rarity{
	float:right;
	display: inline-block;
}
.list.card.full .item h2{
	float: left;
	display: inline-block;
}