/* Empty. Add your own CSS if you like */
.list.card{
	height: 270px;
	
    border: 3px dotted grey;
}

.logo img{
	width: 20%;
margin-left: 40%;
margin-top: 15%;
}


ion-content.padding.scroll-content.ionic-scroll{
	background-size: 2500px;
	background-position-x: -520px;
	background-position-y: -300px;
}
.list.card.full{
	background-color: #F2F2F2;
    border: 1px solid brown;
    box-shadow: 0 0 0 2px #F2F2F2;
    -webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
    width: 100%;
    height: 270px;
    transition-timing-function: linear;
}

.list.card.full .item{
	background-color: #F2F2F2;
	color: black;
}

.list.card.full.potion{
	width: 217px;
	height: 270px;

	
}

.draw.potions{
	width: 100%;
	
	margin-top: 15%;
    margin-left: 40%;
}
.draw.potions .list.card.full.potion.testpotion{
	width: 250px;
	height: 366px;
	margin-top:0%;
}

.list.card.full.potion.cardflip{
	width: 250px;
	height: 366px;
}
.paquetpotions{
	width: 217px;
	height: 270px;
	
}

.scrollproblem .scroll{
	height:10%;
}

.list.card.full .item h2, .list.card.full .item p{
	color:black;
}

.list.card.empty{
	opacity: 0.5;
}

.row.potions{
	width: 38%;
	margin:auto;
	height: 340px;
}

.row.potions .col .list.card.full{
	position: absolute;
	width: 17%;
}
.zone {
  position: relative;
  display: inline-block;
  width: 150px; 
  height: 86.60px;
  background-color: #64C7CC;
  margin:0;

}

.effets select, .effets div{
	display: inline-block;
}

.zone p{
	text-align: center;
}


.zone:before,
.zone:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.zone:before {
  bottom: 100%;
  border-bottom: 43.30px solid #64C7CC;
}

.zone:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #64C7CC;
  left:0;
}

.zone.foret{
	left:40%;
	top:10%;
	background-image: url("../img/ForestScene-01.svg");
}

.zone.plaine{
	left:46%;
	top:31%;
	background-image: url("../img/SwampScene.svg");

}
.zone.lac{
	left:32.4%;
	top:55%;
	background-image: url("../img/LakeScene.svg");

}
.zone.desert{
	left:-1%;
	top:75%;
	background-image: url("../img/DesertScene.svg");

}
.zone.grotte{
	left:-34%;
	top:30%;
	background-image: url("../img/CaveScene.svg");

}
.zone.montagne{
	left: -47.6%;
	top: 55%;	
	background-image: url("../img/MountainScene.svg");

}
ion-content.scroll-content.ionic-scroll.has-header{
	height: 100%;
}
.scroll{
	height: 100%;
}
ion-modal-view.modal.slide-in-up.ng-enter.active.ng-enter-active{
	height: 100%;
}

.modal{
	top: 0; 
right: 20%;
/* bottom: 20%; */
left: 10%;
/* min-height: 240px; */
width: 80%;
background-image: url("../img/ForestScene-01.svg");
} 
.zones{
	height: 100%;
	margin-left: 4%;
}

.list.card.full.touched{

	width: 120%;
	height:60%;
	z-index: 100;
	margin-top: -50px;
}

.list.card.full.custompotion{

	width: 130%;
	height:60%;
	z-index: 100;

}


.list.card.full.fabricated{
	border-color: yellow;
}

.iconroundi, .iconrounds, .iconroundit{
	width: 30px;
	height: 30px;
	border: 2px solid;
    border-radius: 20px;
    position: relative;
	float: left;
	z-index: 10;
	top: 18px;
	left: 25%;
}
.list.card.full .item{
	position: static;
	overflow:visible;
	min-height: 50px;

}
.list.card.full .item.item-body{
	
	min-height: 250px;

}
.list.card.full .item .rarity{
	float:right;
	display: inline-block;
}
.list.card.full .item h2{
	float: left;
	display: inline-block;
}

.pioche{
	margin: 0 47%;
}

.list.card.full.potion.cardflip img{
	width: 250px;
}

.effets{
	word-wrap: normal;
background-color: white;
opacity: 0.5;
position: absolute;
/* top: -65%; */
/* right: -75%; */
width: 25%;
top: 0;
right: 0;
padding: 5px;
}
.effets .button{
	height: 23px;
min-height: 20px;
line-height: 0;
min-width: 0;
width: 24px;
padding: 0 0;
}
.item.test{
	width: 100%;
	height: 100%;
	background-image: url('../img/CardBG-1.png');
	background-size: 100%;
}